<!--<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html>
<head>
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
    <!-- Add css dependency here -->
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1, 
    maximum-scale=1, minimum-scale=1" />

</head>

<body>
    <div class="container">
        {% block content %}
        <div class="logo">
            <img src+"images/logo.png" alt="">
        </div>
        {% endblock %}
    </div>
</body>
</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
	</title>
</head>
<body background="1.jpg" link="#000" alink="#017bf5" vlink="#000">
	<br />
	<h3 align="center">
		<!--<font face="Lato" size="6">LOGO</font>-->
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQH9ROVNalOLrg/profile-displayphoto-shrink_200_200/0/1632606177293?e=1638403200&v=beta&t=WuOzKW5E8BeUM_QfrjJMRVFte_RTzBHFvUFTiVGTi00" alt="">
		<!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
        <font face="cinzel" size="25">
			Hello, {{name}}&nbsp;&nbsp;&nbsp;&nbsp;
			<!--<a href="#">PORTFOLIO</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#">BLOG</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#">CONTACT US</a>-->
		</font>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <font face="cinzel" size="25">
			Tokens: {{token}} &nbsp;&nbsp;&nbsp;&nbsp;
			<!--<a href="#">PORTFOLIO</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#">BLOG</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#">CONTACT US</a>-->
		</font>
	</h3>
	<br /><br />
	<h1 align="center">
		<font face="Lato" color="#017bf5" size="7">
			List of Assignments
		</font>
	</h1>
	<h3 align="center">
		<font face="Lato" color="#000" size="5">
            <p><a href="https://www.linkedin.com/in/ben-shi-115a89200/">Contest 1</a></p>
			<!--<button type="button">Contest 1</button>-->
		</font>
	</h3>
	<h3 align="center">
		<font face="Lato" color="#000" size="5">
            <p><a href="https://www.linkedin.com/in/ben-shi-115a89200/">Quiz 2</a></p>
		</font>
	</h3>
    <h3></h3>
    
	<h3 align="center">
		<font face="Lato" color="#000" size="5">
            <p><a href="https://www.linkedin.com/in/ben-shi-115a89200/">See Leaderboard</a></p>
		</font>
	</h3>
</body>
</html>