<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset = "UTF-8">
	<title>
	</title>
</head>
<body background="1.jpg" link="#000" alink="#017bf5" vlink="#000">
	<br />
	<left><a href="https://www.linkedin.com/in/ben-shi-115a89200/"><img src="https://media-exp1.licdn.com/dms/image/C4E03AQH9ROVNalOLrg/profile-displayphoto-shrink_200_200/0/1632606177293?e=1638403200&v=beta&t=WuOzKW5E8BeUM_QfrjJMRVFte_RTzBHFvUFTiVGTi00" alt=""></a></left>
    <center>Hello, {{name}}    Tokens: {{token}}</center>
	<br /><br />
	<h1 align="center">
		<font face="Lato" color="#017bf5" size="7">
			List of Assignments
		</font>
	</h1>
	<h3 align="center">
		<font face="Lato" color="#000" size="5">
            <p><a href="https://www.linkedin.com/in/ben-shi-115a89200/">Contest 1</a></p>
			<!--<button type="button">Contest 1</button>-->
		</font>
	</h3>
	<h3 align="center">
		<font face="Lato" color="#000" size="5">
            <p><a href="https://www.linkedin.com/in/ben-shi-115a89200/">Quiz 2</a></p>
		</font>
	</h3>
    <h3></h3>
    
	<h3 align="center">
		<font face="Lato" color="#000" size="5">
            <p><a href="https://www.linkedin.com/in/ben-shi-115a89200/">See Leaderboard</a></p>
		</font>
	</h3>
	<h3>
	<div class = "box">
		<title>List of Assignments</title>
		<link rel = "stylesheet" href = "{% static 'css/list.css' %}">
		<h2>List of Assignments</h2>
		<ul>
			<li><span>1</span>Quiz 1</li>
			<li><span>1</span>Assignment 1</li>
			<li><span>1</span>Quiz 2</li>
			<li><span>1</span>Test 1</li>
			<li><span>1</span>Assignment 2</li>
			<li><span>1</span>Assignment 3</li>
		</ul>
	</h3>
    

</body>
</html>