<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset = "UTF-8">
	<title>
	</title>
</head>
<body background="1.jpg" link="#000" alink="#017bf5" vlink="#000">
	<br />
    <h1 align="center">
		<font face="Lato" color="#017bf5" size="10">
			Shop   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tokens: {{token}}
		</font>
	</h1>
	<br /><br />
	<h1 align="left">
		<font face="Lato" color="#017bf5" size="7">
			Avatars
			<br /><br />
			1
			<br /><br />
			2
			<br /><br />
			3
		</font>
	</h1>
</body>
</html>