<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset = "UTF-8">
	<title>
	</title>
</head>
<body style="background-color:#25bcff">
	<br /> 
    <font face="Lato" color=rgb(27,67,94) size="7">
        <left>Shop</left>
        <center>Tokens: {{token}}</center>
    </font>
	<h1 align="left">
		<font face="Lato" color=rgb(27,67,94) size="7">
			Avatars
			<br /><br />
			Costs 1 Token: <a href="https://www.linkedin.com/in/ben-shi-115a89200/"><img src="https://cdn.discordapp.com/attachments/749420152734351424/896612176666722354/Untitled.png" alt=""></a>
			<br /><br />
			Costs 5 Tokens: <a href="https://www.linkedin.com/in/ben-shi-115a89200/"><img src="https://cdn.discordapp.com/attachments/749420152734351424/896612178398953472/fdsfsadf.png" alt=""></a>
			<br /><br />
			Costs 10 Tokens: <a href="https://www.linkedin.com/in/ben-shi-115a89200/"><img src="https://cdn.discordapp.com/attachments/749420152734351424/896612179581730866/4tjinfisnf.png" alt=""></a>
		</font>
	</h1>

	<style>
		html 
			{
				height: 110%;
			}
		body 
			{
				background-image: linear-gradient(#FFFFFF, rgb(37, 188, 255));
			}
		</style>

</body>
</html>